.top{
    text-align: center;
    margin-top: 20%;
}

.bts{
    padding: 20px;
}

.bt1{
    margin: 0 0 20px 0 ;
}

.bt1:first-child{
    margin-top: 100%;
}

// .bt2{
//     position: absolute;
//     bottom: 28%;
// }

// .bt3{
//     position: absolute;
//     bottom: 20.8%;
// }